[Desktop Entry]
Version=1.0
Name=Ufo Wallet
Comment=Scalable confidential cryptocurrency
Exec=/usr/bin/UfoWallet %U
Icon=beam
Terminal=false
Type=Application
Categories=Network
MimeType=application/x-beam-item;
GenericName=Ufo Wallet
