[Desktop Entry]
Version=1.0
Name=Ufo Wallet Testnet
Comment=Scalable confidential cryptocurrency
Exec=/usr/bin/UfoWalletTestnet %U
Icon=ufo
Terminal=false
Type=Application
Categories=Network
MimeType=application/x-ufo-item;
GenericName=Ufo Wallet Testnet
